.Card {
  .icon {
    font-size: 3rem;
    margin-bottom: 3vh;
    opacity: 0.9;
    color: rgb(39, 63, 90);
    cursor: pointer;
  }
  border: 1px solid rgba($color: gray, $alpha: 0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 24rem;
  padding: 2% 4% 2% 4%;
  span {
    opacity: 0.9;
    font-size: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    color: gray;
  }
  p {
    font-size: 0.8rem;
    font-weight: 100;
    opacity: 0.7;
    margin-top: 2vh;
    width: 90%;
    font-family: "Courier New", Courier, monospace;
  }
  .card-link {
    background-color: red;
    border-radius: 2rem;
    padding: 4% 12%;
    font-weight: 600;
    margin-top: 4vh;
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  .card-link:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 5px black;
  }
}
