.ConfirmPhrase {
  margin-left: 8%;
  margin-top: 4vh;
  .txt-select {
    display: flex;
    gap: 12px;
    p {
      background-color: blue;
      color: white;
      padding: 1rem;
      cursor: pointer;
    }
  }
  .phrase-holder {
    border: 1px solid rgb(196, 184, 184);
    max-width: 28rem;
    height: 18vh;
    border-radius: 10px;
    margin-top: 4vh;
  }
}
