.ConfirmPhrase {
  margin-left: 8%;
  margin-top: 4vh;
}
.ConfirmPhrase .txt-select {
  display: flex;
  gap: 12px;
}
.ConfirmPhrase .txt-select p {
  background-color: blue;
  color: white;
  padding: 1rem;
  cursor: pointer;
}
.ConfirmPhrase .phrase-holder {
  border: 1px solid rgb(196, 184, 184);
  max-width: 28rem;
  height: 18vh;
  border-radius: 10px;
  margin-top: 4vh;
}/*# sourceMappingURL=ConfirmPhrase.css.map */