.Create-Wallet {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin-left: 8%;
  margin-top: 5vh;
  gap: 2vh;
  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(66, 49, 49);
  }
  input {
    padding: 4% 6%;
    outline: none;
  }
  p {
    padding: 0%;
    margin: 0;
    font-size: 0.8rem;
    color: red;
  }
  button {
    background-color: rgb(255, 4, 4);
    color: white;
    border: none;
    padding: 4% 10%;
    margin-top: 5vh;
    border-radius: 2rem;
    max-width: 12rem;
    font-size: 1.3rem;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
  }
}
