.dashboard {
  box-shadow: 0 0 5px 2px rgba($color: gray, $alpha: 0.5);
  margin: 5vh 8%;
  .header {
    position: relative;
    box-shadow: 0 1px 1px rgba($color: gray, $alpha: 0.4);
    padding: 0.5%;
    display: flex;

    align-items: center;
    justify-content: center;
    .side-icon {
      position: absolute;
      right: 1%;
      cursor: pointer;
    }

    .child {
      border-radius: 0.5rem;
      cursor: pointer;
      width: 40%;
      margin: auto;
      text-align: center;
      align-items: center;
      .title-text {
        color: rgba($color: #000000, $alpha: 0.9);
        margin-bottom: 0%;
        margin-top: 0%;
        padding-top: 4%;
      }
      .second-container {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 0.8rem;
        color: rgba($color: gray, $alpha: 0.8);
        justify-content: center;
      }
    }
    .child:hover {
      background: rgba($color: gray, $alpha: 0.1);
    }
    .card {
      position: absolute;
      right: -6rem;
      top: 8vh;
      background-color: white;
      box-shadow: 0 0 5px 0px black;
      border-radius: 0.8rem;

      .div1 {
        padding: 8% 8%;
        cursor: pointer;
        display: flex;
        align-items: center;
        .side-icon-a {
          transform: scale(1.3);
          margin-right: 4%;
          color: rgba($color: gray, $alpha: 0.7);
        }
        span {
          font-size: 0.8rem;
          margin-left: 3%;
          opacity: 0.7;
        }
      }
      .div1:hover {
        background: rgba($color: gray, $alpha: 0.1);
      }
    }
    .side-icon {
      transform: scale(1.4);
      align-self: center;
      cursor: pointer;
    }
  }

  .main-holder-b {
    .main-icon {
      padding: 25%;
      border-radius: 12rem;
      transform: scale(1.5);
      box-shadow: 0 0 2px gray;
      background-color: white;
      margin-top: 5%;
      text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .privateKey {
    border-radius: 1rem;
    display: flex;
    box-shadow: 0 0 500px 1000px rgba($color: black, $alpha: 0.6);
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    z-index: 2;
    padding: 6% 3%;
    background-color: white;
    .close-card {
      position: absolute;
      top: 5%;
      transform: scale(1.5);
      right: 3%;
      cursor: pointer;
    }
    p {
      overflow: scroll;
      background-color: rgba($color: red, $alpha: 0.6);
      font-size: 0.8;
      padding: 2%;
      color: rgba($color: black, $alpha: 0.8);
    }
    p::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    p::-webkit-scrollbar-thumb {
      background: #888;
    }
  }
  .create-account {
    border-radius: 2rem;
    position: absolute;
    padding: 4% 2%;
    display: flex;
    justify-content: space-between;
    input {
      outline: none;
      color: gray;
      border: 1px solid rgba($color: gray, $alpha: 0.7);
    }
    button {
      border-radius: 0.4rem;
      margin-left: 2%;
      background-color: red;
      color: white;
      border: none;
      cursor: pointer;
    }
    background-color: white;
    box-shadow: 0 0 500px 1000px rgba($color: black, $alpha: 0.6);
  }
  .send-ETH-icon {
    background-color: rgba($color: blue, $alpha: 0.7);
    border-radius: 2rem;
    color: white;
    padding: 0.7rem;
    font-weight: 600;
    margin-top: 2vh;
    cursor: pointer;
  }
  p {
    opacity: 0.7;
  }
  .container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
      font-size: 0.8rem;
      text-align: center;
      padding: 2%;
      cursor: pointer;
    }
    div:focus-within {
      border-bottom: 1px solid blue;
      box-shadow: 0 1px 1px 0px blue;
      color: blue;
    }
  }
}
