.dashboard {
  box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.5);
  margin: 5vh 8%;
}
.dashboard .header {
  position: relative;
  box-shadow: 0 1px 1px rgba(128, 128, 128, 0.4);
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .header .side-icon {
  position: absolute;
  right: 1%;
  cursor: pointer;
}
.dashboard .header .child {
  border-radius: 0.5rem;
  cursor: pointer;
  width: 40%;
  margin: auto;
  text-align: center;
  align-items: center;
}
.dashboard .header .child .title-text {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 0%;
  margin-top: 0%;
  padding-top: 4%;
}
.dashboard .header .child .second-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.8);
  justify-content: center;
}
.dashboard .header .child:hover {
  background: rgba(128, 128, 128, 0.1);
}
.dashboard .header .card {
  position: absolute;
  right: -6rem;
  top: 8vh;
  background-color: white;
  box-shadow: 0 0 5px 0px black;
  border-radius: 0.8rem;
}
.dashboard .header .card .div1 {
  padding: 8% 8%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dashboard .header .card .div1 .side-icon-a {
  transform: scale(1.3);
  margin-right: 4%;
  color: rgba(128, 128, 128, 0.7);
}
.dashboard .header .card .div1 span {
  font-size: 0.8rem;
  margin-left: 3%;
  opacity: 0.7;
}
.dashboard .header .card .div1:hover {
  background: rgba(128, 128, 128, 0.1);
}
.dashboard .header .side-icon {
  transform: scale(1.4);
  align-self: center;
  cursor: pointer;
}
.dashboard .main-holder-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .main-holder-b .main-icon {
  padding: 25%;
  border-radius: 12rem;
  transform: scale(1.5);
  box-shadow: 0 0 2px gray;
  background-color: white;
  margin-top: 5%;
  text-align: center;
}
.dashboard .privateKey {
  border-radius: 1rem;
  display: flex;
  box-shadow: 0 0 500px 1000px rgba(0, 0, 0, 0.6);
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  z-index: 2;
  padding: 6% 3%;
  background-color: white;
}
.dashboard .privateKey .close-card {
  position: absolute;
  top: 5%;
  transform: scale(1.5);
  right: 3%;
  cursor: pointer;
}
.dashboard .privateKey p {
  overflow: scroll;
  background-color: rgba(255, 0, 0, 0.6);
  font-size: 0.8;
  padding: 2%;
  color: rgba(0, 0, 0, 0.8);
}
.dashboard .privateKey p::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.dashboard .privateKey p::-webkit-scrollbar-thumb {
  background: #888;
}
.dashboard .create-account {
  border-radius: 2rem;
  position: absolute;
  padding: 4% 2%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 500px 1000px rgba(0, 0, 0, 0.6);
}
.dashboard .create-account input {
  outline: none;
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.7);
}
.dashboard .create-account button {
  border-radius: 0.4rem;
  margin-left: 2%;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
.dashboard .send-ETH-icon {
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 2rem;
  color: white;
  padding: 0.7rem;
  font-weight: 600;
  margin-top: 2vh;
  cursor: pointer;
}
.dashboard p {
  opacity: 0.7;
}
.dashboard .container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dashboard .container div {
  font-size: 0.8rem;
  text-align: center;
  padding: 2%;
  cursor: pointer;
}
.dashboard .container div:focus-within {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 1px 0px blue;
  color: blue;
}/*# sourceMappingURL=dashboard.css.map */