.main-holder .p1, .main-holder h1 {
  margin-left: 8%;
}
.main-holder h1 {
  font-weight: 300;
  margin-top: 5vh;
  max-width: 50rem;
  opacity: 0.6;
}
.main-holder .p1 {
  opacity: 0.7;
  max-width: 68rem;
  text-align: left;
}
.main-holder .p2 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 255, 0.05);
  border: 1px solid blue;
  color: black;
  padding: 0.9% 1%;
  border-radius: 0.6rem;
  box-sizing: content-box;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  margin-top: 1vh;
  font-size: 0.8rem;
}
.main-holder .select-holder {
  display: flex;
  padding: 0% 8%;
  justify-content: space-evenly;
}
.main-holder .select-holder h3 {
  display: inline-block;
  margin-right: 14%;
  font-weight: 300;
  align-self: center;
  color: rgb(77, 70, 70);
}
.main-holder .select-holder .selectMe {
  display: inline-block;
  height: 2rem;
  align-self: center;
  padding: 0.3% 14% 0.3% 1%;
  background-color: white;
  border: 1px solid rgb(196, 187, 187);
  color: gray;
  border-radius: 0.3rem;
  outline: none;
  margin-left: auto;
}
.main-holder .phrase-input {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  margin-left: 8%;
  margin-right: 8%;
}
.main-holder .phrase-input .child {
  position: relative;
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 0.5fr;
  align-items: center;
  color: black;
  background-color: white;
  padding: 2%;
}
.main-holder .phrase-input .child .icon {
  transform: scale(2);
  color: rgb(51, 46, 46);
  cursor: pointer;
}
.main-holder .phrase-input .child button {
  border: none;
  background-color: white;
}
.main-holder .phrase-input .child .indexNumber {
  text-align: left;
  clear: right;
  left: 5%;
}
.main-holder .phrase-input .child input {
  margin-right: 2%;
  padding: 5%;
  outline: none;
  border: 1px solid rgb(170, 156, 156);
  border-radius: 0.2rem;
  background-color: white;
}
.main-holder .password-holder {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  max-width: 18rem;
  margin-top: 5vh;
}
.main-holder .password-holder input {
  margin-bottom: 3vh;
  padding: 4%;
  outline: none;
}
.main-holder .password-holder button {
  margin-bottom: 5vh;
  padding: 4%;
  background-color: red;
  border: none;
  color: white;
  border-radius: 2rem;
  width: 50%;
  font-size: 1rem;
}
.main-holder .password-holder label {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 0.7rem;
}
.main-holder .error-check {
  color: red;
  margin-left: 8%;
  font-size: 0.8rem;
  border: 1px solid rgb(177, 167, 167);
  margin-right: 8%;
  text-align: center;
  padding: 1%;
}
.main-holder .p-text {
  color: red;
  margin-left: 8%;
  font-size: 0.8rem;
}/*# sourceMappingURL=Importwallet.css.map */