.login-card {
  color: green;
}
.login-card {
  color: gray;
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  .inp-holder {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 15px;
    input {
      border: 1px solid rgba($color: gray, $alpha: 0.7);
      padding: 2%;
      outline: none;
    }
    .pass-icon {
      font-size: 1rem;
      color: red;
    }
  }
}

.wait-task {
  margin-top: 2vh;
  font-size: 0.7rem;
  color: red;
}

.btn-enabled {
  margin-top: 5vh;
  padding: 2% 8%;
  margin: 3vh auto;
  border: 1px solid rgba($color: rgb(219, 207, 207), $alpha: 0.5);
  background-color: rgb(240, 8, 8);
  border-radius: 0.3rem;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
}
.btn-disabled {
  margin-top: 5vh;
  padding: 2% 8%;
  margin: 3vh auto;
  border: 1px solid rgba($color: rgb(219, 207, 207), $alpha: 0.5);
  background-color: rgb(160, 139, 139);
  border-radius: 0.3rem;
  text-align: center;
  color: rgb(92, 74, 74);
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
}
