.Phrase {
  max-width: 30rem;
  margin-left: 8%;
  margin-top: 8vh;
  h1 {
    font-weight: 400;
    margin-bottom: 4vh;
  }
  h3 {
    font-weight: 400;
    font-size: 1rem;
  }
  h6 {
    margin-top: 0%;
    font-weight: 400;
    font-size: 1rem;
  }
  .Phrase-holder {
    background-color: rgb(172, 133, 133);
    width: 70%;
    border-radius: 2%;
    padding: 3%;
    position: relative;
  }
  .BTN1 {
    background-color: white;
    border: 1px solid black;
    padding: 2% 6% 2% 6%;
    margin-top: 4vh;
    border-radius: 3rem;
    margin-right: 4%;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
  }
  .BTN2 {
    background-color: rgb(30, 27, 221);
    border: 1px solid black;
    padding: 2% 6% 2% 6%;
    margin-top: 4vh;
    border-radius: 3rem;
    margin-right: 4%;
    outline: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
}
