.my-profile {
  display: flex;
  .myDiv {
    font-size: 0.8rem;
    margin: 2%;
    border-radius: 2rem;
    padding: 2%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid black;
  }
  .myDiv:hover {
    background-color: red;
    color: white;
    border: none;
  }
  .account {
    cursor: pointer;
  }
  .pos {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 2px black;
    font-size: 1rem;
    padding: 1% 3%;
    border-radius: 1rem;
    top: 5rem;
    z-index: 2;
    color: rgba($color: gray, $alpha: 0.9);
  }
  .posA {
    cursor: pointer;
  }
  .posA:hover {
    color: blue;
  }
}
