.my-profile {
  display: flex;
}
.my-profile .myDiv {
  font-size: 0.8rem;
  margin: 2%;
  border-radius: 2rem;
  padding: 2%;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
}
.my-profile .myDiv:hover {
  background-color: red;
  color: white;
  border: none;
}
.my-profile .account {
  cursor: pointer;
}
.my-profile .pos {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 2px black;
  font-size: 1rem;
  padding: 1% 3%;
  border-radius: 1rem;
  top: 5rem;
  z-index: 2;
  color: rgba(128, 128, 128, 0.9);
}
.my-profile .posA {
  cursor: pointer;
}
.my-profile .posA:hover {
  color: blue;
}/*# sourceMappingURL=profile.css.map */