.Send-main-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  width: 23rem;
  position: absolute;
  padding: 2%;
  background: white;
  box-shadow: 0 0 500px 1000px rgb(39, 27, 27);
  border-radius: 0.5rem;
}
.Send-main-card .div1 {
  position: relative;
  margin-bottom: 2vh;
  display: flex;
  color: rgba(128, 128, 128, 0.9);
  text-align: center;
  font-size: 0.8;
  justify-content: center;
}
.Send-main-card .div1 button {
  position: absolute;
  right: 0%;
  border: none;
  background-color: transparent;
  color: rgba(128, 128, 128, 0.9);
  font-size: 0.4;
}
.Send-main-card .div2 {
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
}
.Send-main-card .div2 .btns {
  background-color: red;
  border: none;
  color: white;
  padding: 1.5% 3%;
  border-radius: 0.4rem;
}
.Send-main-card input {
  padding: 6%;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
}/*# sourceMappingURL=TranCardStyle.css.map */