.Send-main-card {
  .div1 {
    position: relative;
    margin-bottom: 2vh;
    display: flex;
    color: rgba($color: gray, $alpha: 0.9);
    text-align: center;
    font-size: 0.8;
    justify-content: center;
    button {
      position: absolute;
      right: 0%;
      border: none;
      background-color: transparent;
      color: rgba($color: gray, $alpha: 0.9);
      font-size: 0.4;
    }
  }
  .div2 {
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;
    .btns {
      background-color: red;
      border: none;
      color: white;
      padding: 1.5% 3%;
      border-radius: 0.4rem;
    }
  }

  input {
    padding: 6%;
    outline: none;
    border: 1px solid rgba($color: gray, $alpha: 0.5);
  }
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  width: 23rem;
  position: absolute;
  padding: 2%;
  background: white;
  box-shadow: 0 0 500px 1000px rgb(39, 27, 27);
  border-radius: 0.5rem;
}
