.nav {
  font-size: 2rem;
  padding: 1%;
  margin-top: 2vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
  strong {
    display: flex;
    gap: 1rem;
    font-weight: 300;
  }
}
