.App {
  max-width: 80rem;
  margin: auto;
}
h2 {
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 2vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  opacity: 0.8;
}
